<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('header') -%>
    <link rel="stylesheet" src="/css/all.min.css">
  </head>
  <body style="padding-top:56px">
    <%- include ('navbar') -%>
    <div class="container" style="padding-top: 5%;">
      <div class="row no-gutters">
        <% meetings.forEach((meet) => { %>
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem; text-align:center;">
              <div class="card-body">
                <h5 class="card-title"><%= meet.dateCreated.toDate().toLocaleDateString([], {hour: '2-digit', minute:'2-digit'}) %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= meet.type %></h6>
                <p class="card-text">Click on show details to give QR code to people at the meeting. View Meeting shows meeting statistics.</p>
                <a href="/meetings/<%= meet.meetingId %>" class="card-link">Show Details</a>
                <a href="/<%= meet.meetingId %>/statistics" class="card-link">View Meeting</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins.min.js"></script>
    <script src="/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="/lib/is_js/is.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/meeting.js"></script>
  </body>
</html>
