<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('header') -%>
    <link rel="stylesheet" src="/css/all.min.css">
  </head>
  <body style="padding-top:56px">
    <%- include ('navbar') -%>
    <div class="container" style="padding-top: 5%;">

      <div class="col-md-12" style="display:flex;justify-content: center;">
        <div class="col-md-6" id="picture">

        </div>
      </div>
      <div class="col-md-12" style="display:flex;justify-content: center;">
        <div class="col-md-8">
          <ul class="list-group" id="rob" style="text-align: center;">
            <!-- <li class="list-group-item" id="picture"></li> -->
            <li class="list-group-item" style="display:flex;">
              <div class="col-md-6 pin">
                <i class="fa fa-user" style="font-size: 4em; color: goldenrod;"></i>
              </div>
              <div class="col-md-6" style="padding-left: 3%;">
                <label>Name</label>
                <br>
                <%= brother.name %>
              </div>
            </li>
            <li class="list-group-item" style="display: flex">
              <div class="col-md-6 pin">
                <i class="fa fa-envelope" style="font-size: 3em; color: #357edd;"></i>
              </div>
              <div class="col-md-6" style="padding-left: 3%;">
                <label>Email</label>
                <br>
                <%= brother.email %>
              </div>
            </li>
            <li class="list-group-item" style="display: flex">
              <div class="col-md-6 pin">
                <i class="fas fa-clock" style="font-size: 3em; color: #357edd;"></i>
              </div>
              <div class="col-md-6" style="padding-left: 3%;">
                <label>Major</label>
                <br>
                <%= brother.major %>
              </div>
            </li>
            <li class="list-group-item" style="display: flex">
              <div class="col-md-6 pin">
                <i class="fa fa-graduation-cap" style="font-size: 3em; color: darkseagreen;"></i>
              </div>
              <div class="col-md-6" style="padding-left: 3%;">
                <label>Grad Year</label>
                <br>
                <%= brother.graduationYear %>
              </div>
            </li>
            <li class="list-group-item" style="display: flex">
              <div class="col-md-6 pin">
                <i class="fa fa-users" style="font-size: 3em; color: darkseagreen;"></i>
              </div>
              <div class="col-md-6" style="padding-left: 3%;">
                <label>Dues</label>
                <br>
                <strong> <button type="button" data-toggle="modal" data-target="#paidModal" class="btn btn-sm btn-<%= brother.duesPaid ? 'success' : 'danger' %>"><%= brother.duesPaid ? "Paid" : "Not Paid" %></button> </strong>
              </div>
            </li>
            <li class="list-group-item" style="display: flex">
              <div class="col-md-6 pin">
                <i class="fa fa-money" style="font-size: 3em; color: darkseagreen;"></i>
              </div>
              <div class="col-md-6" style="padding-left: 3%;">
                <label>Fines</label>
                <br>
                $<%= brother.finesDue %>
              </div>
            </li>
            <li class="list-group-item" style="display: flex">
              <div class="col-md-6 pin">
                <i class="fa fa-users" style="font-size: 3em; color: coral;"></i>
              </div>
              <div class="col-md-6" style="padding-left: 3%;">
                <label>Tardy</label>
                <br>
                <strong> <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#tardyModal" name="button">View List</button> </strong>
              </div>
            </li>
            <li class="list-group-item" style="display: flex">
              <div class="col-md-6 pin">
                <i class="fa fa-users" style="font-size: 3em; color: darkseagreen;"></i>
              </div>
              <div class="col-md-6" style="padding-left: 3%;">
                <label>Absent</label>
                <br>
                <strong> <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#absentModal" name="button">View List</button> </strong>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div class="col-md-12" id="fine" style="display:flex;justify-content:center;">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#finesModal" name="button">Update Fine</button>
      </div>
    </div>

    <!-- modal for accepting dues -->
    <div class="modal fade" id="paidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Dues Paid?
            </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <% if (brother.duesPaid) { %>
              <p>By pressing Yes, you are removing that <%= brother.name %> has paid their dues in full.</p>
            <% } else { %>
              <p>By pressing Yes, you are confirming that <%= brother.name %> has paid their dues in full.</p>
            <% } %>

          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            <form class="" action="/paid/<%= brother.id %>" method="post">
              <input type="submit" class="btn btn-primary btn-sm paid" type="button" value="Yes">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for adding fines -->
    <div class="modal fade" id="finesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form class="" action="/updatedues/<%= brother.id %>" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Dues Paid?
            </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="amount">Amount</label>
              $<input class="form-control" type="number" name="amount" value="">
            </div>            
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary btn-sm paid" type="button" value="Update">
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- modal for list of meetings tardy -->
    <div class="modal fade" id="tardyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form class="" action="/paid/<%= brother.id %>" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Tardies
            </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <% brother.tardy.forEach((meet, i) => { %>
              <p>
                 <%= `${ (i + 1) }` %>. <%= brother.name %> arrived at <%= meet.type %> meeting that started at <%= meet.startTime.toDate().toLocaleDateString([], {hour: '2-digit', minute:'2-digit'}) %>
              </p>
            <%  }) %>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary btn-sm paid" type="button" value="Update">
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- modal for list of missed tardy -->
    <div class="modal fade" id="absentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form class="" action="/paid/<%= brother.id %>" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Absent
            </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <% brother.absent.forEach((meet, i) => { %>
              <p>
                 <%= `${ (i + 1) }` %>. <%= brother.name %> missed a <%= meet.type %> meeting on <%= meet.startTime.toDate().toLocaleDateString([], {hour: '2-digit', minute:'2-digit'}) %>
              </p>
            <%  }) %>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary btn-sm paid" type="button" value="Update">
          </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <br>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins.min.js"></script>
    <script src="/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="/lib/is_js/is.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/meeting.js"></script>
  </body>
</html>
